.border(@color:red) {
  border: 1px solid @color;
}

.height(@height:20px) {
  height: @height;
  line-height: @height;
}

.h100 {
  height: 100%;
}

.h50 {
  height: 50%;
}

.left {
  float: left;
  width: 15%;
  .border();
  & div {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }
  & .left-inner {
    margin-top: 100px;
  }
}

article {
  width: 69%;
  float: left;
  .border();

  & .content {
    .h100();
  }
}

.right {
  width: 15%;
  float: right;
  .border();
}

.node {
  .border(green);
  .h50();
  resize: vertical;
  overflow: auto;
  & .title {
    .height(20px);
    background-color: #f5f5f5;
    .border(#ddd);
    text-align: center;
  }
}

.leaf {
  .border(blue);
}

.rleaf {
  .border(silver);
}

.c {
  position: relative;
}
